.center {
   margin-left: 140px;
   margin-right: 140px;
   margin-top: 30px; 
   margin-bottom: 80px;
}

.nav-item{
   padding-right:40px;
}


.navbar-brand{
   padding-left: 50px;
   
}

.search_option{
   display: block;
   width: 100%;
   border: none; 
   color: black;
   padding: 8px ;
   background-color: #C4CBD3 ; 
   font-size: 22px;
   /*font-weight: bold;*/
   font-family: sans-serif;
   font-family: "JetBrains Mono",monospace;
   border-radius: 18px;
}
/*.search_option:hover {
background-color:  #324A7A; 
color: #DFE6E9; 
} */

.search_btn{
   padding: 8px 30px;
   display: block;
   border: 1px #932E32;
   background-color: #941418;
   color: #DFE6E9;
   font-size: 24px;
   font-weight: bold;
   font-family: sans-serif;
   font-family: "JetBrains Mono",monospace;
   margin:0 auto;
   display:block;
   border-radius: 18px;
}
.search_btn:hover {
   background-color:  #831215;
   color: #DFE6E9; 
}

.cb{
   margin-left: 15px;
}
.suggestion{
   font-style: italic;
   font-size: 18px;
   font-family: "JetBrains Mono",monospace;
}
.data_type_taxonomy{
   text-align: center;
   font-family: "JetBrains Mono",monospace;
   font-size: 22px;
}
.data_type_mult_ali{
   text-align: left;
   font-family: "JetBrains Mono",monospace;
   font-size: 22px;
   margin-left: 15px;
}
.text_form{
   font-family: "JetBrains Mono",monospace;
   font-size: 22px;
   margin-left: 15px;
   
}
.rank_form{
   text-align: left;
   font-family: "JetBrains Mono",monospace;
   font-size: 20px;
   height: 30px;
   width: 240px;
   border-radius: 12px;
}
.num_form{
   text-align: left;
   font-family: "JetBrains Mono",monospace;
   font-size: 20px;
   height: 30px;
   width: 130px;
   border-radius: 12px;
}
.text_field{
   width: 150px;
   border-radius: 12px;
   height: 30px;
   width: 240px;
   padding-left: 5px;
   font-family: "JetBrains Mono",monospace;
   font-size: 20px;
   /*padding: 2px 55px;*/
}
.formfield {
   display: flex;
   align-items: baseline;
 }
.text_field_id{
   width: 400px;
   border-radius: 12px;
   height: 200px;
   /*width: 240px;*/
   padding: 10px 10px;
}
.source_field{
   font-family: "JetBrains Mono",monospace;
   font-size: 22px;
   
}
.dropdown{
   width: 280px;
   border-radius: 12px;
}
.text_form_ancestor_rank{
   margin-left: 70px;
}
.text_form_pushed{
   margin-left: 70px;
} 
td{
    text-align: left; 
    vertical-align: middle;
}
th{
   text-align: left; 
   vertical-align: middle;
}
/*
.tooltip {
   display: block;
 }
 .tooltip .tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
 
   /* Position the tooltip */
   /*position: absolute;
   z-index: 1;
 }
 
 .tooltip:hover .tooltiptext {
   visibility: visible;
 } */
select:invalid {color: gray; }
select option {color: black; } 
option[default] {color: gray; }
::placeholder {color: silver; }
option:first-child {
   color: gray;
 }